<html>
    {% block title %} <h1>Login</h1> {% endblock %}


{%block body%}

<br>
<br>
<br>
    <form action="{{url_for('autenticar')}}" method="POST">
        <h1>Autenticación</h1>
        <div>
         <input type="entry" name="usuario1">
         <label>Usuario</label>
        </div>
        <div class="form-floating">
         <input type="password" name="contraseña1">
         <label>Contraseña</label>
        </div>
        <input type="submit" value="Entrar">
    </form>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <br>
    <form action="{{url_for('registrar')}}" method="POST">
        <h1>Registros</h1>
        <div>
         <input type="entry" name="usuario2">
         <label>Nuevo Usuario</label>
        </div>
        <div>
         <input type="password" name="contraseña2">
         <label>Crear contraseña</label>
        </div>
        <input type="submit" value="Entrar">
    </form>
    {% with mensajes = get_flashed_messages() %}
      {% if mensajes %}
         {{mensajes[0]}}
      {% endif %}
    {% endwith %}

{% endblock %}
</html>